.header__subnavigation {
  display: flex;
  justify-content: center;
}
.header__sublist {
  display: flex;
  list-style: none;
  align-items: center;
  overflow-x: hidden;
  justify-content: center;
  width: 100%;
  padding: 20px;
}
.header__subitem {
  margin-inline-end: 15px;
  text-transform: capitalize;
  margin-inline-end: 15px;
}
.header__subitem .link-button {
  font-weight: 400;
  text-decoration: none;
  font-size: 15px;
  border-radius: 25px;
  text-transform: capitalize;
  padding: 10px 20px;
  background-image: linear-gradient(to left, #ffa600 0%, #f5ca0a 100%);
  border: 1px solid transparent;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}
.header__subitem .button-active {
  font-weight: 400;
  font-size: 15px;
  background-image: linear-gradient(to left, #fff 0%, #fafafa 100%);
  color: #f5ca0a;
  border: 1px solid #ffa600;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 25px;
  outline: none;
}

@media (max-width: 575px) {
  .header__sublist {
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .header__subitem .link-button,
  .header__subitem .button-active {
    padding: 5px 15px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .header__sublist {
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .header__subitem .link-button,
  .header__subitem .button-active {
    padding: 5px 15px;
  }
}
@media (min-width: 768px) and (max-width: 845px) {
  .header__sublist {
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .header__subitem .link-button,
  .header__subitem .button-active {
    padding: 10px 20px;
  }
}
