.card__item {
  padding: 8px;
  border-radius: 2px;
  box-shadow: 0px 5px 12px 1px #d4cfcf;
  background-color: #ffffff;
  margin-bottom: 20px;
  flex-basis: 32%;
  max-width: 31%;
}

.card__item a {
  text-decoration: none;
}
.card__title {
  font-size: 18px;
  margin-top: 0;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  direction: rtl;
  color: #000;
  margin-bottom: 10px;
}
.card__image {
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
  position: relative;
}
.card__image img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.card__action {
  margin: 10px 0 0;
  display: flex;
}
.card__iconItem {
  display: flex;
  list-style: none;
  flex-basis: 56%;
}
.card__iconItem li {
  display: flex;
  flex-basis: 50%;
  justify-content: space-between;
  font-size: 14px;
}
.card__iconItem:last-child {
  margin-right: auto;
}

.card__iconItem li i {
  color: #000;
}
.card__iconItem .link-button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.card__iconItem li span {
  color: #000;
  text-transform: capitalize;
  margin-left: 5px;
  font-weight: 400;
}

@media (max-width: 575px) {
  .card__item {
    flex-basis: 100%;
    max-width: 100%;
  }
  .card__item:last-child {
    margin-left: 0;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .card__item {
    flex-basis: 47%;
    max-width: 47%;
  }
  .card__item:last-child {
    margin-left: 36px;
  }
  .card__item:last-child {
    margin-left: 36px;
  }
}
